// CUSTOM BREAKPOINT MIXIN
@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: 1200px) { @content ; }
	}
	@else if $point == laptop {
		@media (max-width: 1100px) { @content ; }
	}
	@else if $point == tablet {
		@media (max-width: 1024px)  { @content ; }
	}
	@else if $point == mobile {
		@media (max-width: 768px)  { @content ; }
	}
	@else {
		@media (max-width: $point) { @content ; }
	}
}

html { scroll-behavior: smooth; }

html.sr .scrollReveal { visibility: hidden; }
// https://scrollrevealjs.org/guide/user-experience.html

img {
	max-width: 100%;
	height: auto !important;
}
img[src$=".svg"] { // automatically scale up SVGs
	width: 100%;
}
svg {
	width: 100%;
	height: auto;
}